<div *ngIf="globalError" class="mt-3">
  <span class="warning"> <i class="fas fa-exclamation-circle"></i>&nbsp;{{ globalError }} </span>
</div>

<div class="row" id="main-content" cdkScrollable #cdkScrollable>
  <div class="col-xl-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 class="card-title">{{ 'myMounts.numberMount' | translate }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list *ngFor="let genderCount of mountGenderCounts">
          <div mat-subheader>{{ genderCount.type }}</div>
          <mat-list-item>
            <i mat-list-icon class="fas fa-venus gender-icon"></i>
            <div mat-line>
              <span>&nbsp;{{ genderCount.female }}</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <i mat-list-icon class="fas fa-mars gender-icon"></i>
            <div mat-line>
              <span>&nbsp;{{ genderCount.male }}</span>
            </div>
          </mat-list-item>
          <mat-list-item class="mb-2 border-top border-white">
            <div mat-line>
              <span class="stat-total">{{ 'myMounts.total' | translate }}:</span>
              <span>&nbsp;{{ genderCount.male + genderCount.female }}</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xl-4">
    <mat-card id="mounts">
      <mat-card-header class="header">
        <mat-card-title>
          <h1 class="card-title">{{ 'myMounts.title' | translate }}</h1>
        </mat-card-title>
        <div id="add-button">
          <button color="accent" mat-raised-button (click)="openMountPopup()">
            {{ 'button.addMount' | translate }}
          </button>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div *ngIf="mountError" class="mt-3">
          <span class="warning"> <i class="fas fa-exclamation-circle"></i>&nbsp;{{ mountError }} </span>
        </div>

        <form id="mounts-filters" class="row" [formGroup]="mountsFiltersForm" (ngSubmit)="filterMounts()">
          <div class="col-lg-9 row">
            <mat-form-field appearance="standard" class="col-lg-6">
              <mat-label>{{ 'form.name' | translate }}</mat-label>
              <input formControlName="name" type="text" name="name" matInput maxlength="16" />
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-lg-6">
              <mat-label>{{ 'form.gender' | translate }}</mat-label>
              <mat-select formControlName="gender" name="gender">
                <mat-option>- - -</mat-option>
                <mat-option *ngFor="let gender of keys(mountGenderEnum)" [value]="mountGenderEnum[gender]">
                  {{ 'mountGenderEnum.' + gender | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-lg-6">
              <mat-label>{{ 'form.mountType' | translate }}</mat-label>
              <mat-select formControlName="type" name="type">
                <mat-option>- - -</mat-option>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{ 'mountTypeEnum.' + type | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-lg-6" *ngIf="mountsFiltersForm.get('type').value">
              <mat-label>{{ 'form.color' | translate }}</mat-label>
              <mat-select formControlName="colorId" name="colorId">
                <mat-option>- - -</mat-option>
                <mat-option *ngFor="let c of currentColors" [value]="c._id">
                  {{ c.color[currentLang] }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-lg-12 row">
              <div class="col-lg-6" style="padding-left: 0!important;">
                <mat-checkbox class="example-margin" formControlName="hasNoChild">{{
                  'form.hasNoChild' | translate
                }}</mat-checkbox>
              </div>
              <div class="col-lg-6" style="padding-left: 0!important;">
                <mat-checkbox class="example-margin" formControlName="hasMaxedChild">{{
                  'form.hasMaxedChild' | translate
                }}</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="col-lg-3 row">
            <mat-form-field appearance="standard" class="col-lg-12">
              <mat-label>{{ 'form.sortField' | translate }}</mat-label>
              <mat-select formControlName="sortField" name="sortField">
                <mat-option *ngFor="let sortField of keys(mountSortFieldEnum)" [value]="mountSortFieldEnum[sortField]">
                  {{ 'mountSortFieldEnum.' + sortField | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-lg-12">
              <mat-label>{{ 'form.sortOrder' | translate }}</mat-label>
              <mat-select formControlName="sortOrder" name="sortOrder">
                <mat-option *ngFor="let sortOrder of keys(sortOrderEnum)" [value]="sortOrderEnum[sortOrder]">
                  {{ 'sortOrderEnum.' + sortOrder | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-lg-12 mb-2" align="end">
              <button type="submit" color="accent" mat-raised-button [disabled]="isMountButtonDisabled()">
                {{ 'button.filter' | translate }}
                <!-- <i *ngIf="mountLoading" class="fas fa-circle-notch fa-spin"></i> -->
              </button>
            </div>
          </div>
        </form>
        <mat-divider></mat-divider>

        <div>
          <div *ngFor="let mount of mounts">
            <div class="d-flex">
              <div class="img">
                <img
                  width="75"
                  height="75"
                  src="{{ '../../../assets/images/' + mount.type + '/' + mount.color.fr + '.png' }}"
                />
              </div>
              <div class="mount-item flex-grow-1">
                <h3 class="m-0">{{ mount.name }}</h3>
                <i *ngIf="mount.gender === mountGenderEnum.Female" class="fas fa-venus gender-icon"></i>
                <i *ngIf="mount.gender === mountGenderEnum.Male" class="fas fa-mars gender-icon"></i>
                <p>{{ mount.numberOfChild }}/{{ mount.maxNumberOfChild }}</p>
                <div class="item-actions">
                  <mat-icon
                    class="action"
                    (click)="addToBreeding(mount)"
                    [matTooltip]="breedingTooltip"
                    matTooltipClass="breeding-tooltip"
                    >add_circle_outline</mat-icon
                  >
                  <mat-icon class="action" (click)="openMountPopup(mount)">create</mat-icon>
                  <mat-icon class="delete" (click)="confirmDelete(mount._id, deleteTypeEnum.Mount)">delete</mat-icon>
                </div>
                <!--Only have 2 lang, TODO when more lang added
                Checking for lang here to display text differently based on lang-->
                <span class="color-type">
                  <span *ngIf="currentLang === 'en'">{{ mount.color.en }}</span>
                  {{ 'mountTypeEnum.' + mount.type | translate }}
                  <span *ngIf="currentLang === 'fr'">{{ mount.color.fr }}</span>
                </span>
              </div>
              <div *ngIf="mount.numberOfChild === mount.maxNumberOfChild; else fakeBorder" id="max-child"></div>
              <ng-template #fakeBorder><div id="fake-border"></div></ng-template>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="view-more">
      <button color="accent" (click)="loadMoreMounts()" mat-raised-button>{{ 'button.viewMore' | translate }}</button>
    </div>
  </div>

  <div class="col-xl-6">
    <mat-card id="couplings">
      <mat-card-header class="header">
        <mat-card-title>
          <h1 class="card-title">{{ 'myMounts.couplingTitle' | translate }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div *ngIf="couplingError" class="mt-3">
          <span class="warning"> <i class="fas fa-exclamation-circle"></i>&nbsp;{{ couplingError }} </span>
        </div>

        <form class="row" [formGroup]="couplingsFiltersForm" (ngSubmit)="filterCouplings()">
          <mat-form-field appearance="standard" class="col-lg-4">
            <mat-label>{{ 'form.motherName' | translate }}</mat-label>
            <input formControlName="motherName" type="text" name="motherName" matInput maxlength="16" />
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-lg-4">
            <mat-label>{{ 'form.fatherName' | translate }}</mat-label>
            <input formControlName="fatherName" type="text" name="fatherName" matInput maxlength="16" />
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-lg-4">
            <mat-label>{{ 'form.childName' | translate }}</mat-label>
            <input formControlName="childName" type="text" name="childName" matInput maxlength="16" />
          </mat-form-field>

          <div class="col-lg-12 pb-2" align="end">
            <button type="submit" color="accent" mat-raised-button [disabled]="isCouplingButtonDisabled()">
              {{ 'button.filter' | translate }}
              <!-- <i *ngIf="couplingLoading" class="fas fa-circle-notch fa-spin"></i> -->
            </button>
          </div>
        </form>
        <mat-divider></mat-divider>

        <div>
          <div *ngFor="let coupling of couplings">
            <div class="row">
              <div
                class="d-flex col-md-4"
                style="padding: 0!important; border-right: 1px solid rgba(255, 255, 255, 0.12);"
              >
                <div class="img">
                  <img
                    width="75"
                    height="75"
                    src="{{
                      '../../../assets/images/' + coupling.mother.type + '/' + coupling.mother.color.fr + '.png'
                    }}"
                  />
                </div>
                <div class="coupling-item">
                  <h3 class="m-0 long-name">{{ coupling.mother.name }}</h3>
                  <h3 class="m-0 medium-name">
                    {{ coupling.mother.name.substring(0, 12) }}<span *ngIf="coupling.mother.name.length > 12">...</span>
                  </h3>
                  <h3 class="m-0 short-name">
                    {{ coupling.mother.name.substring(0, 8) }}<span *ngIf="coupling.mother.name.length > 9">...</span>
                  </h3>
                  <i *ngIf="coupling.mother.gender === mountGenderEnum.Female" class="fas fa-venus gender-icon"></i>
                  <i *ngIf="coupling.mother.gender === mountGenderEnum.Male" class="fas fa-mars gender-icon"></i>
                </div>
              </div>
              <div
                class="d-flex col-md-4"
                style="padding: 0!important; border-right: 1px solid rgba(255, 255, 255, 0.12);"
              >
                <div class="img">
                  <img
                    width="75"
                    height="75"
                    src="{{
                      '../../../assets/images/' + coupling.father.type + '/' + coupling.father.color.fr + '.png'
                    }}"
                  />
                </div>
                <div class="coupling-item">
                  <h3 class="m-0 long-name">{{ coupling.father.name }}</h3>
                  <h3 class="m-0 medium-name">
                    {{ coupling.father.name.substring(0, 12) }}<span *ngIf="coupling.father.name.length > 12">...</span>
                  </h3>
                  <h3 class="m-0 short-name">
                    {{ coupling.father.name.substring(0, 8) }}<span *ngIf="coupling.father.name.length > 9">...</span>
                  </h3>
                  <i *ngIf="coupling.father.gender === mountGenderEnum.Female" class="fas fa-venus gender-icon"></i>
                  <i *ngIf="coupling.father.gender === mountGenderEnum.Male" class="fas fa-mars gender-icon"></i>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0!important;">
                <div class="coupling-item">
                  <h3 class="m-0 child-long">{{ coupling.childName }}</h3>
                  <h3 class="m-0 child-medium">{{ coupling.childName.substring(0, 12) }}<span *ngIf="coupling.childName.length > 12">...</span></h3>
                  <div class="item-actions">
                    <mat-icon class="delete" (click)="confirmDelete(coupling._id, deleteTypeEnum.Coupling)"
                      >delete</mat-icon
                    >
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="view-more">
      <button color="accent" (click)="loadMoreCouplings()" mat-raised-button>
        {{ 'button.viewMore' | translate }}
      </button>
    </div>
  </div>

  <div id="add-coupling-modal" *ngIf="couplingMother || couplingFather">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 class="card-title">{{ 'myMounts.createCouplingTitle' | translate }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div *ngIf="createCouplingError" class="mt-3">
          <span class="warning"> <i class="fas fa-exclamation-circle"></i>&nbsp;{{ createCouplingError }} </span>
        </div>
        <div class="tf-tree tf-ancestor-tree row">
          <ul class="col-lg-12 row">
            <li class="col-lg-12 p-0">
              <span class="tf-nc">
                <mat-form-field appearance="standard" class="node-text">
                  <mat-label>{{ 'form.name' | translate }}</mat-label>
                  <input
                    [disabled]="isCreateCouplingDisabled()"
                    [(ngModel)]="couplingChildName"
                    type="text"
                    name="couplingChildName"
                    matInput
                    maxlength="16"
                  />
                </mat-form-field>
              </span>
              <ul>
                <li>
                  <span class="tf-nc tf-height">
                    <span class="node-text" *ngIf="couplingMother">
                      {{ couplingMother.name }}
                      <mat-icon class="delete" (click)="deleteCouplingMother()">delete</mat-icon>
                    </span>
                  </span>
                </li>
                <li>
                  <span class="tf-nc tf-height">
                    <span class="node-text" *ngIf="couplingFather">
                      {{ couplingFather.name }}
                      <mat-icon class="delete" (click)="deleteCouplingFather()">delete</mat-icon>
                    </span>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div align="end" class="pt-3">
          <button (click)="createCoupling()" color="accent" mat-raised-button [disabled]="isCreateCouplingDisabled()">
            {{ 'button.create' | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
