@import '~@angular/material/theming';
@import '../../../main_theme.scss';

#main-content {
  margin-top: 32px;
  margin-bottom: 16px;
  > div {
    @media screen and (max-width: 1200px) {
      margin-bottom: 16px;
    }
  }
}

#mounts {
  padding: 16px 0 !important;
}

.header {
  padding-left: 16px;
}

.card-title {
  font-weight: 600;
  color: $primary;
  margin-bottom: 0;
}

#add-button {
  position: absolute;
  right: 16px;
}

.img {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.gender-icon {
  font-size: x-large;
}

.mount-item {
  padding-left: 8px;
  position: relative;

  p {
    margin: 0;
    font-size: 15px;
  }
}

.coupling-item {
  padding-top: 4px;
  padding-left: 8px;
}

.color-type {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 16px;
}

.item-actions {
  position: absolute;
  top: 8px;
  right: 8px;

  mat-icon {
    cursor: pointer;
  }

  .action {
    margin-right: 4px;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .delete {
    color: $warning;

    &:hover {
      color: $warning-light;
    }
  }
}

.mat-subheader {
  height: 24px !important;
  padding-left: 0;
}

mat-list-item {
  height: 30px !important;
}

.stat-total {
  padding-right: 9px;
}

//Override color for gender icon
.fa-venus {
  color: mat-color($mat-pink, 300);
}

.fa-mars {
  color: mat-color($mat-blue, 300);
}

.warning {
  padding: 0 16px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#mounts-filters {
  > div:first-child {
    padding-left: 0;
    padding-right: 0;

    > div:last-child {
      height: 44px;
    }
  }

  > div:last-child {
    padding-left: 0;
    padding-right: 0;

    mat-form-field {
      border-left: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}

#couplings {
  padding: 16px 0 !important;
}

.long-name {
  @media screen and (max-width: 1600px) {
    display: none;
  }
}

.medium-name {
  @media screen and (min-width: 1601px) {
    display: none;
  }
  @media screen and (max-width: 1399px) {
    display: none;
  }
}

.short-name {
  @media screen and (min-width: 1400px) {
    display: none;
  }
}

#add-coupling-modal {
  position: fixed;
  bottom: 0;
  right: 32px;
  width: 450px;
  z-index: 100;

  @media screen and (max-width: 1200px) {
    margin-bottom: 0 !important;
  }

  > mat-card {
    background-color: #4d4d4d;
    border: 2px solid #000000;
  }
}

/* treeflex stuffs */
.tf-ancestor-tree {
  position: relative;
}
.tf-ancestor-tree > ul {
  transform: rotateX(180deg);
}
.tf-ancestor-tree li ul {
  margin-bottom: 1em;
}

.tf-height {
  height: 47px;
}

.node-text {
  display: inline-block;
  transform: rotateX(180deg);

  .delete {
    color: $warning;
    cursor: pointer;
    top: 5px;
    position: relative;

    &:hover {
      color: $warning-light;
    }
  }
}

#fake-border {
  border: 2px solid #424242;
}

#max-child {
  border: 2px solid $warning;
}
