@import '~@angular/material/theming';
@import '../../main_theme.scss';

.fill-remaining-space {
  flex: 1 1 auto;
}

.login-container {
  padding: 16px 32px;
  cursor: pointer;

  &:hover {
    background-color: mat-color($main-app-primary, 400);
  }

  mat-icon {
    padding-left: 8px;
    display: inline-flex;
    vertical-align: middle;
  }
}

mat-toolbar {
  padding-right: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#switchlang {
  cursor: pointer;
  padding-right: 16px;
}

#menu {
  &:hover:enabled {
    background-color: $primary;
  }
}

mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 15%;
}

mat-list {
  padding: 0;
}

mat-list-item {
  justify-content: center !important;
  cursor: pointer;
  outline: none;
  padding: 0 16px;

  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }

  mat-icon {
    margin-right: 8px !important;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}
