<mat-toolbar color="primary">
  <button *ngIf="connectedUsername" mat-icon-button id="menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="pointer outline-none" [routerLink]="['account-settings']"
    >Mount Manager</span
  >
  <span class="fill-remaining-space"></span>
  <span id="switchlang" (click)="switchLang()">{{
    'button.lang' | translate
  }}</span>

  <ng-container
    *ngIf="!connectedUsername; then notConnected; else connected"
  ></ng-container>

  <ng-template #notConnected>
    <div class="accent login-container" (click)="openLoginPopup()">
      <span>{{ 'button.login' | translate }}</span>
    </div>
  </ng-template>

  <ng-template #connected>
    <div [matMenuTriggerFor]="accountMenu" class="login-container">
      <span>{{ connectedUsername }}<mat-icon>account_circle</mat-icon></span>
      <mat-menu #accountMenu="matMenu" xPosition="before" class="navbar-menu">
        <span mat-menu-item (click)="logout()">{{
          'button.logout' | translate
        }}</span>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div *ngIf="connectedUsername">
      <mat-list>
        <mat-list-item matRipple [routerLink]="['account-settings']" [matRippleColor]="color">{{
          'navbar.account' | translate
        }}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
