<mat-toolbar color="primary">
  <button *ngIf="connectedUsername" mat-icon-button id="menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="pointer outline-none" [routerLink]="['']">
    Mount Manager
  </a>
  <span class="fill-remaining-space"></span>
  <mat-form-field appearance="none" id="lang-selector">
    <mat-select [(value)]="currentLang">
      <mat-option (click)="switchLang()" [value]="lang.name" *ngFor="let lang of langs">
        {{lang.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="!connectedUsername; then notConnected; else connected"></ng-container>

  <ng-template #notConnected>
    <div class="accent login-container" (click)="openLoginPopup()">
      <span>{{ 'button.login' | translate }}</span>
    </div>
  </ng-template>

  <ng-template #connected>
    <div [matMenuTriggerFor]="accountMenu" class="login-container">
      <span>{{ connectedUsername }}<mat-icon>account_circle</mat-icon></span>
      <mat-menu #accountMenu="matMenu" xPosition="before" class="navbar-menu">
        <a mat-menu-item (click)="logout()">
          {{ 'button.logout' | translate }}
        </a>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="over">
    <div>
      <mat-list>
        <mat-list-item matRipple [routerLink]="['my-account']" [matRippleColor]="color" (click)="sidenav.close()">
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'navbar.account' | translate }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple [routerLink]="['my-mounts']" [matRippleColor]="color" (click)="sidenav.close()">
          <mat-icon>pets</mat-icon>
          <span>{{ 'navbar.mounts' | translate }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.close()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
