/*File to override stuffs that are higher in the dom hiearchy than their components*/

.navbar-menu {
  background-color: $primary;
  border: 1px solid $primary-dark;
  width: 145px !important;

  .mat-menu-content {
    padding: 0 !important;

    a {
      text-align: center !important;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.mat-dialog-container[id='login-popup'] {
  padding: 0 !important;
}

.mat-list-item-content {
  justify-content: center;
}

.mat-menu-panel {
  min-height: 0 !important;
}

.mat-card-header-text {
  margin: 0 !important;
}
