@import '~@angular/material/theming';
@import './main_theme.scss';

//For testing purpose, to remove
.debug {
  border: 1px solid red !important;
}

/*Overriding mat-menu here, because overriding it in navbar.component doesn't work since the "menu" 
  component is higher than the navbar in the dom hierarchy */
.navbar-menu {
  background-color: $primary;
  border: 1px solid $primary-dark;
  width: 150px !important;

  .mat-menu-content {
    padding: 0 !important;
    
    span {
      text-align: center !important;

      &:first-child {
        border-bottom: 1px solid $primary-dark;
      }
    }
  }
}

html, body { 
  height: 100%;
}

.full {
  height: 100vh;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

button .fa-spin {
  margin-left: 5px;
}

.primary {
  color: $primary;

  &-light {
    color: $primary-light;
  }

  &-dark {
    color: $primary-dark;
  }
}

.accent {
  color: $accent;

  &-light {
    color: $accent-light;
  }

  &-dark {
    color: $accent-dark;
  }
}

button {
  &:hover {
    background-color: $accent-light;
  }
}

.pointer {
  cursor: pointer;
}

.padding-top-16 {
    padding-top: 16px;
}