@import '~@angular/material/theming';
@import './main_theme.scss';
@import './override.scss';
@import '~@sweetalert2/theme-dark/dark.scss';
@import '~treeflex/dist/css/treeflex.css';

html,
body {
  margin: 0 !important;
}

button .fa-spin {
  margin-left: 5px;
}

.primary {
  color: $primary;

  &-light {
    color: $primary-light;
  }

  &-dark {
    color: $primary-dark;
  }
}

.accent {
  color: $accent;

  &-light {
    color: $accent-light;
  }

  &-dark {
    color: $accent-dark;
  }
}

.warning {
  color: $warning;

  &-light {
    color: $warning-light;
  }

  &-dark {
    color: $warning-dark;
  }
}

.success {
  color: $success;

  &-light {
    color: $success-light;
  }

  &-dark {
    color: $success-dark;
  }
}

.pointer {
  cursor: pointer;
}

.outline-none {
  outline: none;
}

.small {
  font-size: 12px;
}
