<div>
    <h1 mat-dialog-title class="primary w3-xxxlarge w3-bold">{{'button.login' | translate}}</h1>
    <div mat-dialog-content class="row w3-large">
        <mat-form-field appearance="standard" class="col-lg-12">
            <mat-label>{{'login.username' | translate}}</mat-label>
            <input [(ngModel)]="username" type="text" name="username" matInput>
          </mat-form-field>
          <mat-form-field appearance="standard" class="col-lg-12">
            <mat-label>{{'login.password' | translate}}</mat-label>
            <input [(ngModel)]="password" type="password" name="password" matInput>
          </mat-form-field>
    </div>
    <div class="margin-bottom-16 error-div">
        <span *ngIf="error" class="w3-text-red"><i class="fas fa-exclamation-circle"></i>&nbsp;{{error}}</span>
      </div>
    <div mat-dialog-actions align="end">
        <button color="accent" mat-raised-button class="w3-right" [disabled]="loading" (click)="login()">{{'button.login' | translate}}<i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i></button>
    </div>
</div>